<html>
<head>
    <title>Retrieve data</title>
</head>
<style>
    th,td{
        padding: 10px 20px;font-size: 20px;text-align: center;
    }
</style>
<body>

{% if products %}
<center>
<h1 >product details are</h1>
    <table border="2px">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Cost</th>
            <th>Product Color</th>
            <th>Product Class</th>
        </tr>
        </thead>
        {% for i in products %}
        <tbody>
        <tr>
            <td>{{ i.product_id }}</td>
             <td>{{ i.product_name }}</td>
             <td>{{ i.product_cost }}</td>
             <td>{{ i.product_color }}</td>
             <td>{{ i.product_class }}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</center>
{% else %}
<h2>products are not available</h2>
{% endif %}
</body>
</html>